<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Vue Test</title>
</head>
<body>

    <div id = "name">
        <h2>Name : {{ message }} </h2>
        <h2>Input Name :<input type="text" v-model="message"></h2>
        </div>

        <hr>
        <div id = "age">
        <h2> Your Age {{checkage}}</h2>
        <input type="button" v-on:click="checkage+=1" value="add + ">
        <input type="button" v-on:click="checkage-=1" value="del - ">        
        </div>
        <hr>
        <div id = "food">
        <h2>
        
            อาหารที่ชอบ : {{ checkfood }}
            <br>
            Food : 
            <input type="checkbox"  value="หมูปิ้ง" v-model="checkfood"><label>หมูปิ้ง</label>
            <input type="checkbox"  value="กระเพรา" v-model="checkfood"><label>กระเพรา</label>
            <input type="checkbox"  value="มาม่า" v-model="checkfood"><label>มาม่า</label>
        </h2>
        <hr>
        <h2>
        </div>

        <div id = "sex">
                เพศ : {{checksex}}
                <br>
                เลือกเพศ : 
                <input type="radio"  value="ชาย"v-model = "checksex"><label>ชาย</label>
                <input type="radio"  value="หญิง"v-model = "checksex"><label>หญิง</label>
                <input type="radio" value="ไม่ระบุ"v-model = "checksex"><label>ไม่ระบุ</label>
         </div>
        </h2>
        <hr>
        <h2>
            <div id = "career">
                อาชีพ : {{ checkcareer }}
                <br>
                เลือกอาชีพ : 
                <select v-model = "checkcareer" >
                    <option>  Programmer</option>
                    <option>  Engineer</option>
                    <option>  Teacher</option>
                    <option>  Other</option>
                </select>
            </div>
        </h2>
        <div id = "showshow">
        <hr>
        <input type="button"  value="Display Message" v-on:click = "show=!show">
        
        <h1 v-if = "show">Click เพื่อแสดงข้อความ</h1>
     </div>
    <script src="testApp.js"></script>


</body>
</html>