<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue Test</title>
</head>
<body>
    <div id="app">
        <h2>Name : {{name}}</h2>
        <h2>Input Name :<input type="text" v-model="name"></h2>
        <hr>
        <h2> Your Age : {{age}}</h2>
        <input type="button" v-on:click="addAge" value="add + ">
        <input type="button" v-on:click="delAge" value="del - ">        
        <hr>
        <h2>
            อาหารที่ชอบ : {{food}}
            <br>
            Food : 
            <input type="checkbox"  v-model="food" value="หมูปิ้ง"><label>หมูปิ้ง</label>
            <input type="checkbox"  v-model="food" value="กระเพรา"><label>กระเพรา</label>
            <input type="checkbox"  v-model="food" value="มาม่า"><label>มาม่า</label>
        </h2>
        <hr>
        <h2>
                เพศ : {{gender}}
                <br>
                เลือกเพศ : 
                <input type="radio"  v-model="gender" value="ชาย"><label>ชาย</label>
                <input type="radio"  v-model="gender" value="หญิง"><label>หญิง</label>
                <input type="radio"  v-model="gender" value="ไม่ระบุ"><label>ไม่ระบุ</label>
        </h2>
        <hr>
        <h2>
                อาชีพ : {{work}}
                <br>
                เลือกอาชีพ : 
                <select v-model="work">
                    <option value="Programmer">  Programmer</option>
                    <option value="Engineer">  Engineer</option>
                    <option value="Teacher">  Teacher</option>
                    <option value="Other">  Other</option>
                </select>
        </h2>
        <hr>
        <input type="button"  v-on:click="DisMessage" value="Display Message">
        <h1 >{{show}}</h1>
   
    <script src="app.js"></script>


</body>
</html>